<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sanic任务监控</title>
    <link rel="stylesheet" href="static/css/foundation.css"/>
    <style>
        .menu .menu-text {
            padding: 0.7rem 2rem;
            margin-right: 1rem;
            border-right: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Sanic任务监控</li>

            <li class="is-active"><a href="/sanic_task">首页</a></li>
            <li><a href="#">Queues</a></li>
            <li><a href="#">Workers</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Scheduled Jobs</a></li>
            <li><a href="#">Exceptions</a></li>
        </ul>
    </div>
</div>

<script src="static/js/vendor/jquery.js"></script>
<script src="static/js/vendor/what-input.js"></script>
<script src="static/js/vendor/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>